@font-face {
    font-family: "Spacefont";
    src: url('Spacefont.eot?#iefix') format('embedded-opentype'),
         url('FSpacefont.eot'),
         url('Spacefont.woff') format('woff'), 
         url('Spacefont.ttf')  format('truetype'),
         url('Spacefont.svg#svgFontName') format('svg');
}
  
  
html *{
    font-family: 'Spacefont';
    font-size: 150%;
    text-align: center;
    color: #FCB925;
}
  
body{
    overflow: hidden;
}
  
.instructions{
    font-size: 90%;
}
#gameInfo{
    font-size: 110%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 3%;
 
}
.button{
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    transition: opacity 1s ease;
}
.button:hover{
    cursor: pointer;
}
.fadeOut{
    opacity: 0;
}

.asteroid{
    height: 7vh;
    width: 7vh;
    background-image: url('asteroid.png');
    background-size: cover;

    border-color: #FCB925;
    border-style: dashed;

    z-index: 1;
    position: absolute;
    transition: transform 0.1s ease;
}



.spaceship {
    width: 60px;
    height: 60px;

    border-color: #FCB925;
    border-style: dashed;

    background-color: transparent;
    position: absolute;
    transition: transform 0.5s ease;
}

.fade {
    transition: opacity 1s ease;
}
 
.hidden {
    opacity: 0;
}